/*Media queries tel*/			

@media screen and (max-width: 768px) {

	.tel {
		display: block;
	}
	.ordi {									
		display: none;
	}

	/*Pour l'ensemble de la page*/

		/*deco*/

	h1 {
		font-size: 1.5em;
	}
	h2 {								
		font-size: 1.4em;
	}

		/*disposition*/

	body {
							/* border: 1px solid #000; */
		padding: 0;
	}
	.wrapper {					
                                /* border: 1px solid blue; */
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/*header*/

	.tel { 			
							/* border: 3px solid #000;									 */
		flex-direction: column;
		padding: 0 10px;
	}
	.tel .ligne {						
										/* border: 1px solid blue;		 */
		justify-content: space-between; /*"s'inscrire" pas complètement à droite, why*/
		margin: 10px;
	}
    .logo {
        width: 30%;
    }
	.tel .ligne p a {					
											/* border: 1px solid #000;			 */
		color: #0065FC;
	}
	.tel .ligne p a:active {
		font-style: italic;
	}


	/*nav*/

	.tel nav {									
												/* border: 1px solid purple;						 */
		display: flex;
		justify-content: stretch; /*ici aussi se met en flex-start*/
	}
	.tel nav ul {
								/* border: 1px solid red; */
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
	}
	.tel nav ul li {	
									/* border: 1px solid #000; */
		/* border-bottom : 2px solid white; */
		display: flex;
		justify-content: center;
	}
	.tel nav ul li a {
		/* border: 1px solid blue; */
	}
	.tel nav ul li:hover {
		border-top: 2px solid rgba(0, 0, 0, 0);
	}
	.tel nav ul li:active {
		border-bottom: 2px solid #0065FC;
	}
	.tel nav ul li:active > a {
		color: #0065FC;
	}

	/*recherche*/

	#recherche {					
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 20px;
		padding: 0 10px;
	}

	#barre {							
		align-self: center;
	}
	#barre i:last-child { /*loupe*/		
		border-radius: 10px;
		background-color: #0065FC;
		padding: 11px;
		color: white;
		display: inline-block;
	}
	#barre i:last-child:active {
		box-shadow: inset 5px 5px 5px blue; /*mouvement secondaire ?*/
	}

	/*filtres*/

	#filtres {
		padding: 0 10px;
	}
	#filtres h3 {
		margin-bottom: 15px;
	}
	#filtres .ligne {						
		flex-wrap: wrap;
	}
	#filtres .ligne ul li {
												/*outline: 1px solid #000;*/
		margin: 0 15px 15px 0;
	}
	#filtres .ligne ul li:active {
		background-color: #DEEBFF;
	}
	#filtres .ligne ul li:active > a {
		color: #0065FC;
	}

	/*hebergement*/

	#hebergements {						/*border: 1px solid purple;*/		
		flex-direction: column-reverse;
		align-items: stretch; /*#classique n'est pas centré*/
		margin-top: 10px;
	}
	#classiques {						
										/* border: 1px solid purple; */
		min-width: auto;
		align-items: center;
		background-color: white;
		height: auto;	
		width: calc(100% - 30px);
		margin: 0;
	}
	#classiques h2, #classiques p:last-child  {					
		align-self: flex-start;
	}
	#classiques > .ligne {					
										/* border: 1px solid blue; */
		flex-direction: column;
		width: 95%;
	}
	#classiques .ligne:nth-child(2), #classiques .ligne:nth-child(3) {
		/*border: 1px solid green;*/ /*nth-child(2) ne cible que la 1ère colonne, pourquoi nth-child(3) cible également les étoiles ??*/
		align-self: center;
	}
	.box {
		width: 100%;
	}
	.box img {
		max-height: 130px;
	}

	#populaires { /*cette partie est pas très responsive*/
										/*border: 1px solid purple;*/
		padding: 20px;
		width: calc(100% - 40px);
		border-radius: 0;
		margin: 0;
	}
	#populaires > .ligne {
										/* border: 1px solid #000; */
		width: calc(100% - 40px);
		align-self: flex-start;
		padding: 0 20px;
		margin: 0;
	}
	#populaires > .ligne i {
		font-size: 1.4em;
	}
	.boxLigne a {						
							/* border: 1px solid blue;									 */
		/* justify-content: flex-start; */
		/* align-items: stretch; */
		margin: 10px;
		/* width: calc(100% - 20px); */
        /* max-width: 500px; */
		height: 120px;
	}
	.boxLigne img {
								/* border: 1px solid orange; */
		margin: 3px;
		height: 115px;
	}
	.boxLigne .texte {
								/* border: 1px solid blue; */
		margin : 5px 5px 5px 15px;
		height: 90%;
		justify-content: space-between; /*!fonctionne ici et pas sur feuille générale*/
	}

	/*activités grid*/

	#activites {						
							/* border: 1px solid green; */
		align-items: center;
		width: 100%;
		align-self: flex-end;
	}
	#activites h2 {				
		align-self: flex-start;
		margin-left: 20px;
	}
	.grid { 							
								/* border: 2px solid purple; */
		padding: 0 20px;
        width: 90%;
		grid-gap: 30px;
		margin-top: 20px;
		grid-template-rows: 200px;
		grid-template-columns: 1fr;
		grid-template-areas: 
		"1"
		"2"
		"3"
		"4";
	}
	.sousGrid {						
								/* border: 2px solid orange;									 */
		grid-template: 1fr 1fr/1fr;
		grid-gap: 30px;
	}
	.sousGrid:nth-child(2) {		
										/* border: 2px solid pink; */
		grid-area: 2;
	}
	.sousGrid:nth-child(4) {				
										/* border: 1px solid red; */
		grid-area: 4;
		grid-template: 1fr 1fr/1fr;
	}
	.boxShadow {							/*border: 1px solid blue;*/
		height: 200px;
		width: 100%;
		/* margin-bottom: 30px; */
	}
	.boxShadow:nth-child(2), .boxShadow:nth-child(5) {
		margin: 0;
	} 
	.grid > .boxShadow:nth-child(1) {			/*border: 1px solid purple;*/
		grid-area: 1;
	}
	.boxShadow:nth-child(3) {				/*border: 1px solid green;*/
		grid-area: 3;
	}

	/*footer*/
	footer {
		flex-direction: column;
		padding-left: 50px;
		margin: 0;
	}
	footer .colonne {
		margin-right: 10%; 
	}
} /*fin media query*/